.App {
  text-align: center;
  padding: 20px;
  font-family: Arial;
}

.search-box {
  padding: 10px;
  width: 250px;
  margin-bottom: 20px;
}

.view-buttons button {
  padding: 10px 15px;
  margin: 10px;
  cursor: pointer;
}

/* GRID LAYOUT */
.books-wrapper.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

/* LIST LAYOUT */
.books-wrapper.list {
  display: block;
}

.book-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  background: #f3f3f3;
}

.book-card.list {
  margin-bottom: 15px;
  background: #eaeaea;
}
